.grid-title {
  font-size: 5rem;
  font-family: "Times New Roman", Times, serif;
  color: darkgoldenrod;
}

.grid-container {
  display: grid;
  grid-template-columns: 100px auto;
  grid-template-rows: 80px 80px 200px;
}

.header {
  grid-column: span 12;
  background-color: darkgoldenrod;
}

.menu {
  grid-column: span 12;
  background-color: darkgreen;
}

.content {
  grid-column: span 8;
  background-color: darkred;
}

.footer {
  grid-column: span 12;
  background-color: darkslategrey;
}
